@import url("../globalStyles.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#signupSection {
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

#signupSection .contentSection {
    justify-content: space-between;
}

.illustration {
    width: 50%;
    height: 100%;
    background-image: url('../assets/landingimg/sign.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 5px ;
}

.inputDiv {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpCard {
    height: 600px;
    width: 550px;
    display: flex;
    padding: 40px;
    margin-top: 10px;
    flex-flow: column;
    background-color: #ffffff;
}


.signUpCard h1 {
    
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.signUpForm {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
    margin-left: -2.5px;
}

.signUpForm p {
    margin: 10px 0px 5px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

.signUpForm input {
    background-color: #faf4c1;
    box-sizing: border-box;
    padding: 0px 25px 0px 25px;
    border: none;
    border-color: black;
    border-radius: 15px;
    height: 50px;
    width: 400px;
}



.submitButton {
    background-color: #ffc700;
    color: rgb(255, 255, 255);
    height: 50px;
    width: 300px;
    font-family: poppins;
    font-size: 25px;
    border-radius: 25px;
    border: none;
    transition: background-color 0.3s ease;
    margin: 30px 0px 0px 0px;
}

.submitButton:hover {
    background-color: #ffa800;
    cursor: pointer;
}

#login {
    margin-top: 10px;
    text-align: center;
}